.main-first-page{
   height: 100vh;
   width: 100vw;
   background-image: url('/public/media/MainFirstPage.png');   
   background-position: center center;
   background-size: 100% 100%;  
   /* padding: 30px 60px; */
   /* we dont need padding because its only for the navbar and it has space-around */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   gap: 70px 0px;
}

.main-first-page-text{
    display: flex;
    flex-direction: column;
    gap:30px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 80%;
    height: fit-content;
}

.main-first-page-text h3{
    font-family: 'Aharoni CLM', sans-serif;
}